.square {
    display: block;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: #1e252f;
    border-radius: 40px;
    color: #ffffff
}

.rating {
    position: absolute;
    background-color: #262F38;
    display: inline-block;
    color: #FC7712;
    top: 14em;
    left: 9em;
    padding-left:1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 200px;
    text-align: center;
}

.img {
    position: absolute;
    left: 9.5em;
    top: 3.5em;
    width:200px;

}

.square h1 {
    position: absolute;
    left: 5.2em;
    bottom: 4em;
    text-align: center;
}

.paragraph {
    position: absolute;
    bottom: 2em;
    margin-left: 3em;  
    margin-right: 50px;
    line-height: 1.75em;
    color: #939AA4;
    font-weight: 700;
    text-align: center;
    font-size: 1.05em;
}

